@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
  }

  .custom-list, .custom-list-black {
    list-style: none;
    padding-left: 0;
  }
  
  .custom-list li, .custom-list-black li {
    position: relative;
    padding-left: 36px; /* Adjust based on your image size */
  }
  
  .custom-list li::before, .custom-list-black li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 32px; /* Adjust based on your image size */
    height: 32px; /* Adjust based on your image size */
    background-image: url('/src/asset/list-black.png'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .custom-list-black li::before{
    background-image: url('/src/asset/list-white.png'); 
  }